*{
    margin: 0;
    padding: 0;
}

body{
background: url("./Imagenes/fondo-plata.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 100%;
width: 100%;
}

footer{
    width: 100%;
    bottom: 0;
    display: flex;
}

#contenedor-formulario{
    border: solid black 3px;
    width: 89%;
    padding: 10px;
    margin: 5;
    border-radius: 1rem;
    box-shadow: 18px 18px 59px 5px rgba(0,0,0,0.61);

}  

#Carta{
    width: 95%;
    margin-top: 20px;
    opacity: 0.75;
    display: flex;
    justify-content:space-around;
}

